#container {
    display: grid;
    height: 300vh;
    row-gap: 2vh;
    width: 250vh;
    grid-template-columns: 100% ;
    grid-template-rows: 50vh 20vh 80vh 10vh;
    grid-template-areas: 
    "head"
    "navi"
    "main"
    "foot";
}

header {
    display: flex;
    grid-area: head;
    background-color: green;
}

nav {
    display: flex;
    background-color: blue;
    grid-area: navi;
}

main {
    display: flex;
    grid-area: main;
background-color: gray;
}

/* .aside {
    width: 50%;
    height: 90vh;
    display: flex;
    grid-area: hogrider;
background-color: red;
} */

footer {
    display: flex;
    grid-area: foot;
background-color: yellow;
}