.jag img {
    align-self: center;
    width: 400; 
    height: 400;
}

.titel {
    text-align: center;
    font-family:'Edwardian Script ITC';
    font-size: 45px;
    color: green;
}

.slogan { 
    text-align: center;
    font-family: 'Franklin Gothic Medium';
    font-size: 35px;
    color: blue;
}


.h1 {
    display: grid;
    text-align: center;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 5px;
   }
   
.image {
     max-width: 50px;
     max-height: 50px;
   }

.navigation {
    text-size-adjust: 50px;

}